[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
requests = "*"
gunicorn = "*"
dash-bootstrap-components = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.13"
